<table>
    <tr>
        <td>
            <p>Anahi Ximena Sanchez Vasquez</p>
            <p>Mi objetivo en la vida es ser cool </p>
        </td>
        <td>
            <img src="../../assets/profilePicture.JPG" width="100" height="auto">
        </td>


        <td>
            <ul>
                <li>ximenavasquez3410@gmail.com</li>
                <li>2721384679</li>
                <li>Rio Blanco</li>
                <li>@XMvasquez</li>
             </ul>
        </td>

    </tr>
</table>
