<div>
    <h3>Skills & Competences</h3>
    <table>
        <tr>
            <td>Enfocada en el futuro</td>
            <td><div class="chart 1"></div></td>
        </tr>
        <tr>
            <td><tr>Comunicacion Verbal</tr><tr>y Escrita</tr></td>
            <td><div class="chart 2" style="width: 100px;"></div></td>
        </tr>
        <tr>
            <td>Creatividad</td>
            <td><div class="chart 1" style="width: 150px;"></div></td>
        </tr>
        <tr>
            <td>Pensamiento Critico</td>
            <td><div class="chart 1" style="width: 90px;"></div></td>
        </tr>
    </table>
</div>